body{
	background: #f0f0f0;
	color:#fff;
}
/*网页头部*/
.head{
	position: relative;
	height: 500px;
}

/*头部轮播区*/
.carousel{
	min-width: 1200px;
	width:100%;
	height: 500px;
	background: url(../img/carousel-1.jpg) no-repeat center;
	position: relative;
	opacity: 1;
}
/*控制轮播的按钮*/
.carousel ul{
	position: absolute;
	bottom: 10px;
	list-style: none;
	text-align: center;
	width:100%;
	font-size: 0px;
}
.carousel ul li{
	display: inline-block;
	width:14px;
	height: 14px;
	margin:0px 5px;
	background: url(../img/dot.png) no-repeat right 0;
	cursor: pointer;
}
/*切换样式change高亮样式*/
.carousel ul li.change{
	background-position: 0 0;
}
.carousel ul li.change1{
	background-position: right 0;
}
/*左右控制轮播按钮*/
.carousel a{
	width:50px;
	height:50px;
	display: block;
	border-radius: 25px;
	position: absolute;
	top:45%;
}
.carousel .pre{
	background: url(../img/prev.png);
	left:40px;
}
.carousel .next{
	background: url(../img/next.png);
	right:40px;
}

/*报告区*/
/*报告区头部(品牌墙区头部)*/
.report-top{
	width:1180px;
	margin-top:80px;
	margin-bottom: 20px;
	margin-right: auto; 
	margin-left: auto; 
	font-size: 0px;
	border-bottom: 1px solid rgba(31, 167, 86,0.1);
	overflow: hidden;
}
.report-top span,.brand-top span{
	font-size: 16px;
	padding: 8px 12px;
	line-height: 28px;
	float: left;
}
.report-top span:nth-child(1),.brand-top span:nth-child(1){
	background-color: rgba(31, 167, 86,0.5);
}
.report-top span:nth-child(2),.brand-top span:nth-child(2){
	color:#1FA756;
	background-color: rgba(31, 167, 86,0.05);
}
.report-top a{
	color:rgb(31, 167, 86);
	float: right;
	font-size: 16px;
	text-decoration: none;
	line-height: 44px;
}
/*报告区内容*/
.report-bottom{
	width:1180px;	
	margin-right: auto; 
	margin-left: auto;
	overflow: hidden; 
}
.report-bottom .rePo{
	width:380px;
	float: left;
	margin: 0px 6px;
	cursor: pointer;
}
.report-bottom .rePo-1{
	position: relative;
	width:380px;
	height:360px;
}
.rePo-1 div{
	width:380px;
	height:180px;
	position: absolute;
	top:0px;
	left:0px;
}
.rePo-1 .repoDiv1{
	margin-top: 180px;
	background: url(../img/report-back.png) no-repeat;
}
.rePo-1 .repoDiv2{
	height:360px;
	background: rgba(31, 167, 86, 0.8);
	display: none;
}
.rePo-1 .repoDiv1 p{
  	font-size: 16px;
  	margin-left: 20px;
  	margin-top: 120px;
}
.rePo-1 .repoDiv2 h3{
	font-weight: normal;
	text-align: left;
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.rePo-1 .repoDiv2 hr{
	width:96%;
	margin: 0px auto;
}
.rePo-1 .repoDiv2 p{
	margin-left: 20px;
	margin-top: 10px;
	text-align: left;
	font-size: 15px;
}
.rePo-2{
	width:380px;
	height: 60px;
	background: #fff;
	color:rgb(153, 153, 153);
}
.rePo-2 p{
	margin-left: 20px;
	line-height: 60px;
	font-size: 12px;
}

/*品牌墙区*/
/*品牌墙内容区*/
.brand-bottom{
	width:1180px;
	margin:0px auto;
}
/*内容区上半部分*/
.brand-bottom .bottom1{
	height:350px;
	background: url(../img/brand-back.png) no-repeat;
	background-size: cover;
	overflow: hidden;
}
.bottom1-left{
	width:48%;
	height:100%;
	color:#fff;
	float: left;
}
.bottom1-left h3{
	font-size: 36px;
	font-weight: 300;
	font-style: normal;
	margin-top: 80px;
	margin-left: 50px;
}
.bottom1-left p{
	margin-left: 50px;
}
.bottom1-left p:nth-child(3){
	margin-top: 30px;
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 20px;
}
.bottom1-left span{
	display: block;
	width:150px;
	height:50px;
	line-height: 50px;
	color:#636363;
	font-size: 14px;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	margin-left: 50px;
}
.bottom1-left span:hover{
	background:rgba(255, 255, 255, 0.9);
}
.bottom1-right{
	width:52%;
	float: right;
}
.bottom1-right img:nth-child(1){
	margin-top: 60px;
	margin-left: 150px;
}
.bottom1-right img:nth-child(2){
	width:100px;
	height: 40px;
	opacity: 0.4;
	margin-left:500px;
}
/*内容区下半部分*/
.bottom2{
	overflow: hidden;
}
.bottom2-left,.bottom2-right{
	width:90px;
	height:250px;
	background: rgba(228, 228, 228, 0.9);
	float: left;
}
.bottom2-left div{
	width: 100%;
	height:250px;
	background: url(../img/brand-arrow1.png) no-repeat center;
	opacity: 0.6;
	cursor: pointer;
}
.bottom2-center{
	width:1000px;
	height:250px;
	float: left;
}
.bottom2-center .bot-1{
	height:200px;
}
.bottom2-center .bot-1 ul{
	list-style: none;
	display: block;
}
.bottom2-center .bot-1 a{
	display: block;
	width:99px;
	height:99px;
	float: left;
	border-bottom: 1px #666 solid;
  	border-right: 1px #666 solid;
}
.bottom2-center .bot-1 img{
	width:100px;
	height: 100px;
	opacity: 0.7;
}
.bottom2-center .bot-1 img:hover{
	opacity: 1;
}
.bottom2-center .bot-2{
	height: 50px;
	overflow: hidden;
}
.bottom2-center .bot-2 div{
	float: left;
	width:250px;
	height:50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	font-size: 14px;
}
.bottom2-center .sort1{
	background-color: rgba(31, 167, 86, 0.6);
}
.bottom2-center .sort2{
	background-color: rgba(90, 207, 56, 0.6);
}
.bottom2-center .sort3{
	background-color: rgba(90, 207, 56, 0.6);
}
.bottom2-center .sort4{
	background-color: rgba(90, 207, 56, 0.6);
}
.bottom2-right div{
	width: 100%;
	height:250px;
	background: url(../img/brand-arrow.png) no-repeat center;
	opacity: 0.6;
	cursor: pointer;
}

/*咨询区*/
.info-bottom{
	width: 1194px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.infoContent{
	width:284px;
	height:300px;
	float: left;
	background: #fff;
	cursor: pointer;
	margin: 15px 7px;
}
.con-1{
	width:284px;
	position: relative;
	height:260px;
}
.con-1 div{
	position: absolute;
}
.conDiv1{
	width: 284px;
	height:120px;
	bottom:0px;
}
.conDiv1 p{
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
}
.conDiv2{
	display: none;
	width: 284px;
	height:260px;
	background-color: rgba(242, 141, 113, 0.9);
	top:0px;
}
.conDiv2 h3{
	font-size: 14px;
	line-height: 28px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	padding-left: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	font-weight: normal;
}
.conDiv2 hr{
	width: 90%;
	margin: 0px auto;
}
.conDiv2 p{
	margin-left: 20px;
	margin-right: 20px;
  	line-height: 22px;
  	color: rgb(254, 238, 233);
  	float: left;
  	text-align: left;
  	margin-top: 10px;
  	font-size: 12px;
}
.con-2{
	color: rgb(153, 153, 153);
  	text-align: left;
  	line-height: 40px;
  	margin-left: 20px;
  	font-size: 12px;
}

/*媒体报道区*/
.media-bottom{
	width:1180px;
	margin:0px auto;
	overflow: hidden;
}
.mediaBot{
	width:250px;
	height:180px;
	background-color: #e4e4e4;
	border-radius: 4px;
	float: left;
	position: relative;
	margin-left: 22px;
  	margin-right: 22px;
}
.mediaBot img{
	display: block;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;

}
.mediaBot p{
	width: 210px;
	line-height: 22px;
  	font-size: 14px;
  	text-align: left;
  	color: rgb(102, 102, 102);
  	font-family: "微软雅黑 Bold", "微软雅黑";
  	height: 80px;
  	position: absolute;
  	bottom: 10px;
  	left: 20px;
}
.mediaBot span{
	display: block;
	width: 32px;
	height:32px;
}
.mediaBot span:nth-child(3){
	position: absolute;
	background: url(../img/top.png) no-repeat;
	top:0px;
	left:-14px;
	z-index: 3;
}
.mediaBot span:nth-child(4){
	position: absolute;
	background: url(../img/bottom.png) no-repeat;
	right:-14px;
	bottom:0px;
}

/*分隔线*/
.line{
	min-width:1200px;
	width: 100%;
	height: 5px;
	background: url(../img/sixcolorbg.png);
	margin-top: 80px;
}

/*网页底部*/
footer{
	min-width: 1200px;
	width:100%;
	background: #333;
}
.footerTop{
	width:1160px;
	margin:0px auto;
	overflow: hidden;
	height:260px;
}
/*上层的左半部分*/
.footerLeft{
	float: left;
	width:560px;
}
.footerLeft div{
	width:150px;
	height: 120px;
	background: url(../img/footer-logo.png);
	background-size: cover;
}
.footerLeft h4{
	margin-top: 15px;
	font-size: 16px;
	color: #ccc;
	line-height: 30px;
	font-weight: normal;
}
.footerLeft p{
	font-size: 14px;
	color:#666;
	line-height: 28px;
	height:110px;
	padding-right: 80px;	
}
/*上层的中间部分*/
.footerCenter{
	float: left;
	margin-top: 35px;
	margin-left: 80px;
}
.footerCenter a{
	display: block;
	width:70px;
	height:38px;
	font-size: 14px;
	color: #999;
	line-height: 38px;
	text-decoration: none;
}
.footerCenter a:hover{
	color:#ccc;
}
/*上层的右边部分*/
.footerRight{
	float: left;
	margin-top: 43px;
	margin-left: 160px;
}
.footerRight a{
	display: block;
	width:150px;
	height:60px;
	text-decoration: none;
}
.footerRight a img{
	display: block;
	float: left;
}
.footerRight a span{
	color: #999;
	font-size: 14px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
}

/*底部分隔线*/
footer .footer-line{
	width:1160px;
	margin: 0px auto;
	height: 1px;
	background-color:#3f3f3f; 
}

/*中层部分*/
.footerCen{
	width:1160px;
	padding-top:30px;
	margin: 30px auto;
}
.footerCen h4{
	font-size: 16px;
	color:#ccc;
	font-weight: normal;
} 
.footerCen ul{
	list-style: none;
	overflow: hidden;
}
.footerCen ul li{
	float: left;
}
.footerCen ul li a{
	text-decoration: none;
	display: block;
	height: 28px;
	line-height: 28px;
	color:#666;
	font-size:14px;
	padding-right: 20px;
}
.footerCen ul li a:hover{
	color:#ccc;
}
.footerCen p{
	margin-top: 50px;
	color:#666;
}
.footerCen p a{
	text-decoration: none;
	font-size: 14px;
	line-height: 28px;
	color:#666;
}
.footerCen p a:hover{
	color:#CCC;
}
.footerCen span{
	font-size: 14px;
	color:#666;
	line-height: 28px;
}
.footerBot{
	min-width: 1200px;
	width: 100%;
	background: #393939;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	color:#666;
}


/*回到顶部部分*/
.back{
	position: fixed;
	width:60px;
	height:300px;
	right:1%;
	bottom:2%;
	z-index: 1000;
	display: none;
}
.back .backDiv{
	width:60px;
	height:60px;
	border-radius: 50%;
	background-color: rgb(102, 102, 102); 
	margin-bottom: 20px;
	opacity: 0.5;
	cursor: pointer;
}
.back .backDiv1{
	position: absolute;
	top:-40px;
	left:-175px;
	display: none;
}
.back .backDiv2{
	position: absolute;
	top:125px;
	left:-175px;
	display: none;
}